.main {
  width: 100vw;
  height: 100vh;
}

.nav-bar {
  width: 100vw;
  height: 80px;
  background-color: #006400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-weight: 900;
  font-size: 25px;
  cursor: pointer;
}

.options:hover {
  background-color: #008000;
}

.handler-component {
  width: 100vw;
  height: calc(100vh - 80px);
}
