.body-register {
  width: 100vw;
  height: calc(100vh - 80px);
  min-height: 500px;
  background-image: url('../../assets/image/final_Fantasy.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.resgister {
  width: calc(35% - 60px);
  height: calc(82% - 60px);
  min-width: 300px;
  min-height: 400px;
  position: absolute;
  max-height: 460px;
  top: 100px;
  right: 20px;
  padding: 30px;
  background-color: #006400;
}

.button-height {
  height: 51px;
  margin-top: 15px;
}

@media only screen and (max-width: 500px) {
  .resgister {
    width: calc(100% - 60px - 8px);
    height: calc(100% - 80px - 60px -8px);
    top: 84px;
    right: 4px;
    min-width: 0;
  }

  .body-register{
    background-color: #F5F5F5;
    background-image: none;
  }
}

@media only screen and (max-height: 570px) {
  .label-float {
    margin-top: 15px;
  }

  .label-float label {
    font-size: 15px !important;
  }
}

@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .resgister {
      top: 30vh;
    }
}

@media only screen
  and (min-width: 768px)
  and (max-height: 1024px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .resgister {
      top: 25vh;
    }
}
